altair
annotated-doc
annotated-types
anyio
async-generator
attrs
bcrypt
beautifulsoup4
blinker
bottle
bottle-websocket
bs4
CacheControl
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
comtypes
contourpy
cryptography
cycler
dacite
dependencies
distro
docopt
dotenv-python
ecdsa
Eel
et_xmlfile
exceptiongroup
fastapi
filelock
filetype
FLAML
Flask
fonttools
fsspec
future
futures
gevent
gevent-websocket
gitdb
GitPython
google-search
googletrans
goslate
greenlet
gTTS
h11
h2
hf-xet
hpack
hstspreload
httpcore
httpx
huggingface_hub
hyperframe
idna
ImageHash
inexactsearch
instaloader
itsdangerous
jaraco.context
Jinja2
joblib
Js2Py
jsonpickle
jsonschema
jsonschema-specifications
kiwisolver
lightgbm
llvmlite
load-dotenv
lxml
Markdown
MarkupSafe
matplotlib
minify_html
more-itertools
MouseInfo
msgpack
mtranslate
multimethod
narwhals
networkx
nltk
numba
numpy
openai
opencv-python-headless
openpyxl
openweathermap
outcome
packaging
pandas
passlib
patsy
phik
pillow
pipwin
protobuf
puremagic
pyarrow
pyasn1
PyAudio
PyAutoGUI
pycountry
pycparser
pydantic
pydantic_core
pydeck
PyDictionary
pygame
PyGetWindow
pyjokes
pyjsparser
PyMsgBox
pyownet
pyparsing
pyperclip
pypiwin32
PyPrind
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQt6
PyQt6-Qt6
PyQt6-sip
PyRect
PyScreeze
pySmartDL
PySocks
python-dateutil
python-dotenv
python-jose
python-multipart
pyttsx3
pytweening
pytz
PyWavelets
pywhatkit
pywin32
PyYAML
qtwidgets
referencing
regex
requests
rfc3986
rpds-py
rsa
scikit-learn
scipy
scraper
seaborn
selenium
shellingham
silpa_common
six
smmap
sniffio
sortedcontainers
soundex
soupsieve
speech
speech2speech
SpeechRecognition
spellchecker
SQLAlchemy
starlette
statsmodels
stem
streamlit
tenacity
threadpoolctl
tmdbsimple
toml
tornado
tqdm
trio
trio-websocket
typeguard
typer-slim
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
visions
watchdog
weather-api
Werkzeug
whichcraft
wikipedia
window-auto-generator
wolframalpha
wordcloud
wsproto
xgboost
xmltodict
ydata-profiling
zope.event
zope.interface
pyautogen
psycopg2-binary
