fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pandas
scikit-learn
flaml
matplotlib
seaborn
ydata-profiling
pyautogen
openai
httpx
